force-app/main/default/flows/Capture_API_Request_Flow_MK.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commit_Transaction</name>
        <label>Commit Transaction</label>
        <locationX>828</locationX>
        <locationY>218</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Custom_Approval_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Application_Id</name>
        <label>Assign Existing Application Id</label>
        <locationX>1146</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>applicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Custom_Approval_Record.ApplicationId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Application_Id</name>
        <label>Assign New Application Id</label>
        <locationX>887</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>applicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Anypoint_Application.acm_pkg__Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application_Contract</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>New_App_False</name>
        <choiceText>Select an existing client application</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>New_App_True</name>
        <choiceText>Create a new client application</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <description>The custom data table columns. There are in a string format that is parsed of the format;
&lt;column title&gt;,&lt;column variable&gt;,&lt;column type&gt;; . . .</description>
        <name>slaTableColumns</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Num of Requests,numRequests,text;Time Period,timePeriod,text;Time Unit,timeUnit,text</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_New</name>
        <label>Check if New</label>
        <locationX>971</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Application_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Approval_Record.NewClient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Anypoint_Application</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>The available API instances</description>
        <name>API_Instances</name>
        <dataType>String</dataType>
        <displayField>acm_pkg__Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>acm_pkg__CommunityApi__c</object>
        <outputAssignments>
            <assignToReference>apiVersionId</assignToReference>
            <field>acm_pkg__AnypointApiVersionId__c</field>
        </outputAssignments>
        <valueField>acm_pkg__ApiId__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>API_Instances_s</name>
        <dataType>String</dataType>
        <displayField>acm_pkg__Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__ApiVersionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_API_Id.acm_pkg__AnypointApiVersionId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__IsPublic__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>acm_pkg__AnypointApiInstances__x</object>
        <valueField>acm_pkg__Id__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Get_Existing_Application</name>
        <dataType>String</dataType>
        <displayField>acm_pkg__Name__c</displayField>
        <object>acm_pkg__AnypointApplications__x</object>
        <valueField>acm_pkg__Id__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The different SLA tiers for the API. These are the same across different API versions</description>
        <name>SLA_Tier</name>
        <dataType>String</dataType>
        <displayField>acm_pkg__Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__ApiVersionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_API_Id.acm_pkg__AnypointApiVersionId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__InstanceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_API_Instance.acm_pkg__Id__c</elementReference>
            </value>
        </filters>
        <object>acm_pkg__AnypointApiTiers__x</object>
        <outputAssignments>
            <assignToReference>selectedSlaRequests</assignToReference>
            <field>acm_pkg__MaxRequests__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSlaTimePeriod</assignToReference>
            <field>acm_pkg__TimePeriod__c</field>
        </outputAssignments>
        <valueField>acm_pkg__Id__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Capture API Request Flow MK {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture API Request Flow MK</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Anypoint_Application</name>
        <label>Create Anypoint Application</label>
        <locationX>780</locationX>
        <locationY>522</locationY>
        <assignRecordIdToReference>newApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Anypoint_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>acm_pkg__Description__c</field>
            <value>
                <elementReference>Get_Custom_Approval_Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__GrantTypes__c</field>
            <value>
                <stringValue>-</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__Id__c</field>
            <value>
                <elementReference>Get_Custom_Approval_Record.InstanceId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__Name__c</field>
            <value>
                <elementReference>Get_Custom_Approval_Record.Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>acm_pkg__AnypointApplications__x</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Contract</name>
        <label>Create Application Contract</label>
        <locationX>1053</locationX>
        <locationY>751</locationY>
        <connector>
            <targetReference>External_Service_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>acm_pkg__ApiId__c</field>
            <value>
                <elementReference>Get_Custom_Approval_Record.ApiId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__ApiVersionId__c</field>
            <value>
                <elementReference>Get_Current_API_Id.acm_pkg__AnypointApiVersionId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__ApplicationId__c</field>
            <value>
                <elementReference>applicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__InstanceId__c</field>
            <value>
                <elementReference>Get_Custom_Approval_Record.ApiId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__RequestedTierId__c</field>
            <value>
                <elementReference>Get_Custom_Approval_Record.SLA_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__Status__c</field>
            <value>
                <stringValue>Provisioned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__TierId__c</field>
            <value>
                <elementReference>Get_Custom_Approval_Record.SLA_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>acm_pkg__AnypointContracts__x</object>
    </recordCreates>
    <recordCreates>
        <description>Create a custom object to store the request details</description>
        <name>Create_Custom_Approval_Request</name>
        <label>Create Custom Approval Request</label>
        <locationX>678</locationX>
        <locationY>311</locationY>
        <assignRecordIdToReference>newApprovalRequest</assignRecordIdToReference>
        <connector>
            <targetReference>Commit_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>ApiId__c</field>
            <value>
                <elementReference>Get_API_Instance.acm_pkg__Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApiVersionId__c</field>
            <value>
                <elementReference>apiVersionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Application_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstanceId__c</field>
            <value>
                <elementReference>Get_API_Instance.acm_pkg__Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Application_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewClient__c</field>
            <value>
                <elementReference>Client_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Tier__c</field>
            <value>
                <elementReference>SLA_Tier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <object>ApplicationCreationRequest__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Anypoint_Application</name>
        <label>Get Anypoint Application</label>
        <locationX>749</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Application_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointApplications__x</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>acm_pkg__Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get details about the current API instance</description>
        <name>Get_API_Instance</name>
        <label>Get API Instance</label>
        <locationX>172</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_API_Instance_And_SLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__ApiVersionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_API_Id.acm_pkg__AnypointApiVersionId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__IsPublic__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>managed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointApiInstances__x</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>acm_pkg__Name__c</queriedFields>
        <queriedFields>acm_pkg__ApiVersionId__c</queriedFields>
        <queriedFields>acm_pkg__Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Id of the API currently selected using the recordId .</description>
        <name>Get_Current_API_Id</name>
        <label>Get Current API Id</label>
        <locationX>175</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_API_Instance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__CommunityApi__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>acm_pkg__AnypointApiVersionId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Approval_Record</name>
        <label>Get Custom Approval Record</label>
        <locationX>967</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newApprovalRequest</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationCreationRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>This screen gets the API instance (version) and SLA details.</description>
        <name>Get_API_Instance_And_SLA</name>
        <label>Get API Instance And SLA</label>
        <locationX>343</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Client_Application</targetReference>
        </connector>
        <fields>
            <name>API_Instance_And_SLA_Title</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;Select your API Instance and SLA&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_an_instance</name>
            <choiceReferences>API_Instances_s</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an instance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_an_SLA_Tier</name>
            <choiceReferences>SLA_Tier</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an SLA Tier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Select a Client Application﻿</description>
        <name>Select_Client_Application</name>
        <label>Select a Client Application</label>
        <locationX>468</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Custom_Approval_Request</targetReference>
        </connector>
        <fields>
            <name>Select_Client_Application_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Select a Client Application﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SLA_Table</name>
            <extensionName>c:FlowDataTableComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <elementReference>slaTableColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>data</name>
                <value>
                    <stringValue>{!selectedSlaRequests}|{!selectedSlaTimePeriod}|Milliseconds</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Client_Type</name>
            <choiceReferences>New_App_True</choiceReferences>
            <choiceReferences>New_App_False</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>New_App_True</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Client_Application</name>
            <choiceReferences>Get_Existing_Application</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a client application</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Client_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_App_False</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Application_Name</name>
            <dataType>String</dataType>
            <fieldText>Client application name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Client_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_App_True</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Application_Description</name>
            <fieldText>Client application description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Client_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_App_True</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Request_URL</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>OAuth 2.0 redirect URIs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>https://domain.com/callback</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>redirectUri</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Client_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_App_True</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Client_Application_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Client_Application_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Terms_and_Conditions</name>
                    <extensionName>c:displayTermsAndConditions</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>I_accept_the_terms_and_conditions</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I accept the terms and conditions</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;You must accept the Terms and Conditions prior to continuing. &lt;/p&gt;</errorMessage>
                        <formulaExpression>{!I_accept_the_terms_and_conditions}==true</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3)</conditionLogic>
                <conditions>
                    <leftValueReference>Application_Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_App_True</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Client_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_App_False</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Get_Current_API_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>External_Service_Flow</name>
        <label>External Service Flow</label>
        <locationX>571</locationX>
        <locationY>873</locationY>
        <flowName>External_Flow</flowName>
        <inputAssignments>
            <name>inputParam</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>The Id of the particular version of the API</description>
        <name>apiVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A new API approval request record. This is to store all the user request details so that it can be passed between different stages of an approval process</description>
        <name>New_Approval_Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ApplicationCreationRequest__c</objectType>
    </variables>
    <variables>
        <name>newApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Id of the new approval request</description>
        <name>newApprovalRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of the page record when the screen flow is called. This is via a custom Lightning Button</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stored the redirection URI if OAuth 2.0 is being used for the API</description>
        <name>redirectUri</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The number of requests in a time period that can be made to an API according to the SLA. The default time unit here is milliseconds</description>
        <name>selectedSlaRequests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The time period, according to the SLA, over which a certain number of requests can be made. The default time unit here is milliseconds</description>
        <name>selectedSlaTimePeriod</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
